@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: Roboto;
}

.landing{
    width:100%;
    height: 100%;
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: 500;
}

button {
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: #1abc9c;
    color: white;
    margin-top: 25px;
    font-weight: 500;
    transition: background-color, 0.4s;

}

button:hover {
    background-color: #16a085;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
}


.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0px;
    left: 0px;
    right: 0px;
    background-color: rgba(153, 119, 8, 0);
   
    color: white;
    z-index: 100;
  }

  .left-section {
    flex: 1;
    width: 300px;
    display: flex;
    justify-content:left;
    margin-left: 40px;
    align-items: center;
    font-weight: bold; 
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap:nowrap;
  }

  .left-section img {
    height: 50px;
    margin: 10px;
  }
  .left-section div {
    margin: 10px;
    cursor: pointer; 
  }

  .middle-section {
    flex: 1;
    max-width: 100px;
    display: flex;
    align-items: center;
  }

  .right-section {
    
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 40px;
    align-items: center;
    
  }
  .right-section div{
    /* background-color: #d8ac1a;
    padding: 5px;
    border-radius: 5px; */
    cursor: pointer;
    font-weight: 800;
  }

 
  .search-icon {
    height: 24px;
 
  }
  body {
  font-family: 'Geist', sans-serif;
}
